---
---

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Raleway|Josefin+Sans:300,400&display=swap');
@font-face { font-family:icomoon; src: url("icomoon.woff");}
@font-face { font-family:arizona; src: url("arizona.woff2");}

html {
    box-sizing:border-box
}

*,*:before,*:after {
    box-sizing:inherit
}

body {
    margin-top: 21rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: white;
    background: black;
    @media only screen and (max-width:40em) {
        font-size: 1em;
    }
}

header {
    font-family: arizona, sans-serif;
    font-size: 1.4em;
    position: fixed;
    @media only screen and (max-height:30rem){
        position: absolute;
    }
    width: 100%;
    margin: 0;
    padding: 1vw;
    top: 0;
    left: 0;
    display: flex;
    background: black;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    p {
        max-width: 15vw; 
        @media only screen and (max-width:50rem) and (min-width:40rem)  {
            font-size: 0.8em;
        }
    }
    h1 {
        max-width: 15vw;
    }
    img {
        min-height: 4rem;
        max-width: 50%;
    }
    > ul {
        max-width: 15vw;
        list-style-type: none;
        font-family: icomoon;
        padding-left: 0;
        & li {
            display: inline-block;
            font-size: 1.4em;
            @media only screen and (max-width:50rem){
                font-size: 1em;
                display: block;
            }
        }
    }
    @media only screen and (max-width:40rem){
        img {
            max-width: 100vw;
        }
        h1, p {
            max-width: 35vw;
        }
    }
}

nav {
    font-family: "Raleway", sans-serif;
    font-size: 0.714em;
    width: 100vw;
    padding: 0 1em;
    background: black;
    ul {
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 0;
        li {
            a {
                text-decoration: none;
                text-align: center;
                @media only screen and (max-width:30rem) {
                    font-family: icomoon;
                }
            }
        }
    }
    a {
        text-decoration: none;
        color: white;
        &:hover {
            text-decoration: underline;
        }
        :visited {
            color: white;
        }
    }
}

main {
    max-width: 50rem;
    margin: auto;
}


footer {
    margin-top: 1em;
    p {
        margin: 0 auto;
        text-align: center;
        font-size: 0.8em;
        &:last-of-type {
            font-size: 0.8em;
            a {
                color: rebeccapurple;
            }
        }
    }
}

h1  {
    font-weight: 400;
    font-size: 1em;
}

.hero {
    flex-basis: 100%;
    max-width: 100%;
}

img {
    display: inline-block;
    max-width: 24%;
    border: 4px solid black;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
        z-index: -1;
    }
}

h3 + img {
    float:right;
    max-width: 30%;
}

#opening {
    min-width: 50%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    p {
        margin: 0;
    }
}

aside {
    float: right;
    min-width: 50%;
    margin-top: 2em;
    @media only screen and (max-width:25rem) {
        float: none;
        margin-bottom: 1em;
    }
}

a {
    text-decoration: none;
    color: white;
    &:hover {
        text-decoration: underline;
    }
    :visited {
        color: white;
    }
}

article {
    border: 1px solid white;
    padding: 1em;
    a {
        text-decoration: underline;
    }
    h3 {
        margin-top: 0;
    }
    p:last-of-type {
        margin-bottom: 0;
    }
}

.ribbon-gallery {
    scrollbar-width: thin;
    scrollbar-color: rebeccapurple black;
    img {
        width: auto;
        height: 20em;
    }
}

.substrate-img {
    width: auto;
}
